@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  /* background-color: #e8f5ff; ---> <<<<<***THEME COLOER****>>>>> */
  font-family: Arial;
  overflow: hidden;
}

img{
  width: 10%;
}
#employee{
  display: flex;
}
.navbar-top {
  display: flex;
  /* background-color: red; */
  justify-content: center;
}

.navbar-top ul {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  border-radius: 20px;
  background-color: rgb(241, 227, 255);
  right: 1px;
  list-style-type: none;
  font-size: 1rem;
  margin: 1rem;
}

.navbar-top ul li {
  width: 4rem;
  text-align: center;
}

.navbar-top ul li a {
  color: #1d1d1d;
}

.icon-count {
  border-radius: 50%;
  background-color: #ff0000;
  color: #fff;
  padding: 2px;
  font-size: 10px;

}

form {
  width: 50%;
}

main #CEO-profile #employee .employee-detail .field {
  margin: 1rem;
}
main #CEO-profile #employee .employee-detail .field .label {
  padding: 1rem;
  font-size: 1rem;
  width: 15vw;
}
main #CEO-profile #employee .employee-detail .field .colon {
  padding: 1rem;
  font-size: 1rem;
  width: 4px;
}
main #CEO-profile #employee .employee-detail .field .detail {
  font-size: 1rem;
  padding: 1rem;
  width: 39vw;
}


body main #CEO-profile{
  display: f;
}

/* <<<<<<<<<<<<<-SOCIAL-MEADIA>>>>>>>>>>>>>>>>- */
body #social-media {
  border-top: 2px solid rgb(185, 185, 185);
  background: inherit;
  display: flex;
  align-items: center;
  justify-content: center;

}

body #social-media h2,
.card {
  margin: 1rem;
  text-align: center;
  color: inherit;
  font-size: 2vw;
}


#social-media .card span{
  margin: 1vw;
}

/* <<<<<<<<<<<<<-SOCIAL-MEADIA-HOVER ->>>>>>>>>>>>>>>>- */


.fa-facebook:hover {
  color: #4267b3 !important;
}

.fa-twitter:hover {
  color: #1da1f2 !important;
}

.fa-instagram:hover {
  color: #ce2b94 !important;
}

.fa-invision:hover {
  color: #f83263 !important;
}

.fa-github:hover {
  color: #2200ff !important;
}

.fa-whatsapp:hover {
  color: #25d366 !important;
}

.fa-snapchat:hover {
  color: #fffb01 !important;
}