@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

#bar_icon {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: none;
}

@media (max-width: 500px) {
  #bar_icon {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: block;
  }
}
a {
  text-decoration: none;
  color: black;
}

.btn {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem;
  margin-left: 1rem;
  background: rgb(255, 244, 126);
}

body {
  overflow-y: scroll;
  height: 10vh;
}

main {
  display: flex;
}
main #side-bar {
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.1rem;
  height: 100vh;
  border-right: 1px solid rgb(211, 211, 211);
  overflow: scroll;
  scrollbar-width: none;
  width: 4rem;
  background-color: white;
  transition: all 0.4s ease;
}
main #side-bar img {
  display: flex;
  justify-self: center;
  width: 90%;
  margin: 1rem 0rem;
}
main #side-bar .desh-ul .desh-li {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  overflow: hidden;
  height: 3rem;
}
main #side-bar .desh-ul .desh-li a {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  margin-left: 10px;
}
main #side-bar .desh-ul .desh-li a i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 1vw;
  width: 46px;
  color: black;
  transition: all 0.3s;
}
main #side-bar .desh-ul .desh-li a span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 5rem;
  color: black;
  transition: all 0.3s;
}
main #side-bar .desh-ul .desh-li:hover {
  background: rgb(193, 193, 193);
}
main #side-bar #down-arrow {
  display: none;
  justify-content: center;
}
main #side-bar .logout {
  top: 20rem;
}
main #side-bar:hover {
  width: 13rem;
  overflow: scroll;
  scrollbar-width: none;
}
@media (max-width: 678px) {
  main #side-bar .desh-ul .desh-li {
    height: 4rem;
  }
  main #side-bar .desh-ul .desh-li a i {
    width: 40px;
    font-size: 1rem;
  }
  main #side-bar .desh-ul .desh-li a span {
    font-size: 1rem;
  }
  main #side-bar:hover {
    width: 15rem;
  }
}
main .arrow {
  display: none;
}
main #CEO-profile {
  overflow-y: scroll;
  height: 100vh;
  scrollbar-width: none;
  width: 100vw;
}
main #CEO-profile #company-logo {
  padding: 1rem;
  background-color: rgb(255, 244, 126);
  font-size: 4vw;
  text-align: center;
}
main #CEO-profile #about-corporation {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  padding: 1rem;
}
main #CEO-profile #about-corporation .container {
  background-color: #ffffff;
  top: 7rem;
  height: 12vw;
  width: 35vh;
  padding: 1vw;
  margin: 1vw;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 4px 25px 0px rgb(188, 188, 188);
  border-radius: 5% 0px;
  transition: all 0.3s ease;
}
main #CEO-profile #about-corporation .container .count {
  transition: all 0.2s ease;
  font-size: 2.5vw;
}
main #CEO-profile #about-corporation .container .type {
  font-size: 1.2vw;
  font-weight: 600;
  color: gray;
  transition: all 0.1s ease;
}
main #CEO-profile #about-corporation .container .logo img {
  height: 8vw;
  transition: all 0.1s ease;
}
main #CEO-profile #about-corporation .container:hover {
  margin-top: 0px;
  scale: 1.05;
}
@media (max-width: 1500px) {
  main #CEO-profile #about-corporation {
    grid-template-columns: auto auto;
    justify-content: center;
  }
  main #CEO-profile #about-corporation .container {
    height: 14vw;
    width: 35vw;
  }
  main #CEO-profile #about-corporation .container .count {
    font-size: 3.2vw;
  }
  main #CEO-profile #about-corporation .container .type {
    font-size: 2.1vw;
  }
  main #CEO-profile #about-corporation .container .logo img {
    height: 10vw;
  }
}
@media (max-width: 910px) {
  main #CEO-profile #about-corporation .container .logo img {
    height: 12vw;
  }
}
@media (max-width: 700px) {
  main #CEO-profile #about-corporation {
    grid-template-columns: auto;
  }
  main #CEO-profile #about-corporation .container {
    width: 50vw;
    height: 19vw;
  }
  main #CEO-profile #about-corporation .container .count {
    font-size: 5vw;
  }
  main #CEO-profile #about-corporation .container .type {
    font-size: 3vw;
  }
  main #CEO-profile #about-corporation .container .logo img {
    height: 15vw;
  }
}
main #CEO-profile #employee {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main #CEO-profile #employee .employee-detail {
  margin: 1rem 0px;
  padding: 2vw;
  box-shadow: 5px 4px 25px 0px rgb(188, 188, 188);
}
main #CEO-profile #employee .employee-detail .employee-header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  font-size: 2.3vw;
  height: 7vw;
  background-color: rgb(255, 244, 126);
  color: rgb(14, 14, 14);
}
main #CEO-profile #employee .employee-detail .btn {
  transition: all 0.3s ease;
}
main #CEO-profile #employee .employee-detail .btn:hover {
  margin-left: -1vw;
}
@media (max-width: 1000px) {
  main #CEO-profile #employee .employee-detail .employee-header .btn {
    height: 3.5vw;
    width: 19vw;
    font-size: 2vw;
  }
}
main #CEO-profile #employee .employee-detail .field {
  list-style: none;
  display: flex;
  border: 1px solid rgb(234, 218, 218);
  align-items: center;
  text-align: left;
  transition: all 0.3s ease;
}
main #CEO-profile #employee .employee-detail .field .id {
  width: 3vw;
  justify-content: center;
}
main #CEO-profile #employee .employee-detail .field li {
  display: flex;
  flex-wrap: wrap;
  padding: 0.6vw 0vw;
  font-size: 1.2rem;
  width: 10vw;
  justify-content: center;
}
main #CEO-profile #employee .employee-detail .field .more-btn {
  padding: 10% 0%;
  width: 7vw;
  height: 2vw;
  font-size: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main #CEO-profile #employee .employee-detail .field .more {
  display: flex;
  justify-content: center;
  width: 10vw;
}
@media (max-width: 1350px) {
  main #CEO-profile #employee .employee-detail .field li {
    font-size: 1.7vw;
  }
  main #CEO-profile #employee .employee-detail .field .Department,
  main #CEO-profile #employee .employee-detail .field .department {
    width: 15vw;
  }
  main #CEO-profile #employee .employee-detail .field .more-btn {
    padding: 0px 1vw;
    width: 7vw;
    height: 2vw;
  }
  main #CEO-profile #employee .employee-detail .field .field {
    width: 10px;
  }
}
@media (max-width: 1000px) {
  main #CEO-profile #employee .employee-detail .field .id {
    width: 8vw;
  }
  main #CEO-profile #employee .employee-detail .field li {
    font-size: 2vw;
    width: 15vw;
  }
  main #CEO-profile #employee .employee-detail .field .department {
    width: 19vw;
  }
  main #CEO-profile #employee .employee-detail .field .more {
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #CEO-profile #employee .employee-detail .field .more-btn {
    padding: 1.5vw 4vw;
    width: 7vw;
    height: 2vw;
  }
}
main #CEO-profile #employee .employee-detail .field:hover {
  background: #e1e1e1;
  scale: 1.04;
}
@media (max-width: 1000px) {
  main #CEO-profile #employee .employee-detail {
    width: 80%;
  }
}
main #CEO-profile #employee .pending-interview {
  margin: 1rem 0px;
  padding: 2vw;
  box-shadow: 5px 4px 25px 0px rgb(188, 188, 188);
}
main #CEO-profile #employee .pending-interview .employee-header {
  font-size: 2.3vw;
  height: 7vw;
  background-color: rgb(255, 244, 126);
  color: rgb(14, 14, 14);
}
main #CEO-profile #employee .pending-interview li {
  display: flex;
  flex-wrap: wrap;
  padding: 0.6vw 0vw;
  font-size: 1.2rem;
  width: 10vw;
  justify-content: center;
}
main #CEO-profile #employee .pending-interview .field {
  list-style: none;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(234, 218, 218);
  align-items: center;
  transition: all 0.3s ease;
}
main #CEO-profile #employee .pending-interview .field .id {
  width: 3vw;
  justify-content: center;
}
main #CEO-profile #employee .pending-interview .field .profile {
  width: 8vw;
}
main #CEO-profile #employee .pending-interview .field .profile img {
  width: 30%;
}
main #CEO-profile #employee .pending-interview .field .department {
  display: flex;
  align-items: center;
  text-align: center;
  width: 10vw;
}
main #CEO-profile #employee .pending-interview .field .more-btn {
  padding: 10% 20%;
  width: 5vw;
  height: 2vw;
  font-size: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main #CEO-profile #employee .pending-interview .field li {
  padding: 0.6vw 0vw;
  font-size: 1.2rem;
  width: 10vw;
  text-align: center;
}
main #CEO-profile #employee .pending-interview .field .btn {
  transition: all 0.3s ease;
}
main #CEO-profile #employee .pending-interview .field .btn:hover {
  margin-left: -1vw;
}
@media (max-width: 1350px) {
  main #CEO-profile #employee .pending-interview .field li {
    font-size: 1.7vw;
  }
  main #CEO-profile #employee .pending-interview .field .more-btn {
    padding: 0px 1vw;
    width: 7vw;
    height: 2vw;
  }
}
@media (max-width: 1000px) {
  main #CEO-profile #employee .pending-interview .field .id {
    width: 5vw;
    display: flex;
    text-align: center;
  }
  main #CEO-profile #employee .pending-interview .field .profile {
    width: 14vw;
  }
  main #CEO-profile #employee .pending-interview .field li {
    font-size: 2vw;
    width: 15vw;
  }
  main #CEO-profile #employee .pending-interview .field .more {
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #CEO-profile #employee .pending-interview .field .more-btn {
    padding: 1.5vw 4vw;
    width: 7vw;
    height: 2vw;
  }
}
main #CEO-profile #employee .pending-interview .field:hover {
  background: #e1e1e1;
  scale: 1.04;
}
@media (max-width: 1000px) {
  main #CEO-profile .pending-interview {
    width: 70%;
  }
}

@media (max-width: 500px) {
  #side-bar {
    width: 10px;
  }
  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 100vh;
  }
  #down_arrow {
    display: none;
  }
  #up_arrow {
    display: flex;
  }
}

/*# sourceMappingURL=home.css.map */
